*/source
*/backup

*/update_staging

XNALara-io-Tools_updater_status.json
XNALara-io-Tools.zip







Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.cab
*.msi
*.msm
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*


.Spotlight-V100
.Trashes


.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


__pycache__/
webspynner/__pychache__/
*.py[cod]
*.pyc


.pydevproject
.project
.settings/


*~


XNALara-io-Tools/modules/addon_updater_system/xnalara-io-tools.modules.addon_updater_system_updater/XNALara-io-Tools.modules.addon_updater_system_updater_status.json
XNALara-io-Tools/modules/addon_updater_system/_updater/XNALara-io-Tools.modules.addon_updater_system_updater_status.json
